html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 125%;
    margin: 0 auto;
    width: 95%;
}

img {
    width: 100%
}

/* Subheaddings */
header p, header a, header h2, a+p, a+p+p {
    text-align: center;
    margin: 0;
}

h2, h3, h4{
    text-align: center;
    margin: 0;
}

h3+p{
    text-align: center;
    margin: 0;
    font-size: 60%;
}


figure {
    display: inline-block;
    text-align: center;
    width: auto;
    margin: 0, auto;
}
figure p {
    font-size: 0.5em;
}

header h1{
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 20vw;
    margin: 0;
}

table {
    font-size: 80%;
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table, th, td {
    padding: 5px;
}

th {
    background-color: lightslategray;
    color: whitesmoke;
}

td {
    max-width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr:nth-child(even) {background-color: lightgray;}

.excursionLocked td:nth-child(1) { display: none; }
.excursionLocked th:nth-child(1) { display: none; }
.excursion td:nth-child(3) { display: none; }
.excursion th:nth-child(3) { display: none; }
.excursion td:nth-child(4) { display: none; }
.excursion th:nth-child(4) { display: none; }
.excursion td:nth-child(5) { display: none; }
.excursion th:nth-child(5) { display: none; }

footer{
    text-align: center;
    padding-top: 2em;
}

p {
    text-align: justify;
}

@media only screen and (min-width: 600px) {
    html {
        width: 560px;        
    }
.excursion td:nth-child(3) { display: table-cell; }
.excursion th:nth-child(3) { display: table-cell; }

}

@media only screen and (min-width: 1200px) {
    html {
        width: 800px;
    }
    .excursion td:nth-child(5) { display: table-cell; }
    .excursion th:nth-child(5) { display: table-cell; }
}