html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 125%;
    margin: 0 auto;
    width: 95%;
}

img {
    width: 100%
}

/* Subheaddings */
header p, header a, header h2, a+p, a+p+p {
    text-align: center;
    margin: 0;
}

h2, h3, h4{
    text-align: center;
    margin: 0;
}


figure {
    display: inline-block;
    text-align: center;
    width: auto;
    margin: 0, auto;
}
figure p {
    font-size: 0.5em;
}

header h1{
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 20vw;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table, th, td {
    font-size: 100%;
    padding: 5px;
  }

th {
    background-color: lightslategray;
    color: whitesmoke;
}

  tr:nth-child(even) {background-color: lightgray;}

footer{
    text-align: center;
    padding-top: 2em;
}

p {
    text-align: justify;
}

@media only screen and (min-width: 600px) {
    html {
        width: 560px;        
    }
}

@media only screen and (min-width: 1200px) {
    html {
        width: 800px;
    }
}